* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*PAGINA- INDEX*/
img,
svg {
  vertical-align: middle;
}

/*Encabezado de pagina*/
header {
  background: rgb(32, 218, 137);
}

.nav-item {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: rgb(41, 40, 40);
}
/*Cuerpo de la pag. principal*/
main {
  background: rgb(194, 224, 149);
  padding: 5%;
  display: grid;
}
/*--secc. informacion--*/
.info__container {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.info__description {
  width: 50%;
}
.info__registro {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
.info__description,
.especie__title {
  margin-bottom: 2rem;
}
.info__registro--btn {
  padding: 0.5rem 5rem;
  font-size: 1.5rem;
}
/*--secc. especialidades--*/
.especie__container {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.especie__container--card {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.especie__subtitle,
.especie__card {
  margin-bottom: 1.5rem;
}
.especie__card {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.especie__img {
  margin-bottom: 2rem;
}
.especie__btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
/*--secc. ventajas--*/

.ventajas__subtitle {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.ventajas__parrafo {
  font-size: 1.2rem;
  line-height: 2;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 1rem;
}
.ventajas__span {
  font-weight: 500;
}

/*Pie de pagina*/
footer {
  background: rgb(32, 218, 137);
}

.footer__terminos--item {
  text-decoration: none;
  color: black;
}

/*PAGINA- NOSOTROS*/

/*PAGINA- ESPECIALIDADES*/

.profesiones__title {
  padding-top: 5rem;
  text-align: center;
  
}
.profesiones__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.profesiones__title {
  font-size: 1.5rem;
}

.profesiones__img {
  max-width: 50%;
  max-height: 50%;
  min-width: 50%;
  min-height: 50%;
  margin-bottom: 1rem;
}
.profesines__btn {
  padding: 0.5rem 1rem;
}

/*PAGINA- CONTACTO*/

/*PAGINA- COMO FUNCIONA*/
.funciona__container 

/*--*/
.funciona__title,
.funciona__items {
  margin-bottom: 1.5rem;
}
.testi__title {
  margin: 1rem 0;
}

/*--MEDIA QUERY--*/
@media (min-width: 768px) {
  .info__container {
    flex-direction: row;
    padding-top: 3rem;
  }
  .profesiones__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (min-width: 1024px) {
  .contacto__area {
    height: 5%;
  }
}
